{% extends 'TimeBoards/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Add Rating</h1>
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="mb-3">
            {{ form.user.label_tag }}
            {{ form.user|add_class:"form-select" }}
        </div>
        <div class="mb-3">
            {{ form.track.label_tag }}
            {{ form.track|add_class:"form-select" }}
        </div>
        <div class="mb-3">
            {{ form.game.label_tag }}
            {{ form.game|add_class:"form-select" }}
        </div>
        <div class="mb-3">
            {{ form.car.label_tag }}
            {{ form.car|add_class:"form-select" }}
        </div>
        <div class="mb-3">
            {{ form.rating.label_tag }}
            {{ form.rating|add_class:"form-control" }}
        </div>
        <div class="mb-3">
            {{ form.created_at.label_tag }}
            {{ form.created_at|add_class:"form-control" }}
        </div>
        <div class="mb-3">
            {{ form.review.label_tag }}
            {{ form.review|add_class:"form-control" }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
