{% extends 'TimeBoards/base.html' %}
{% load static %}
{% block content %}
<h1>People</h1>
<button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#addPersonModal">Add Person</button>
<ul class="list-group">
    {% for person in people %}
    <li class="list-group-item d-flex align-items-center">
        {% if person.profile_picture %}
            <img src="{{ person.profile_picture.url }}" alt="{{ person.username }}" class="profile-pic rounded-circle">
        {% else %}
            <img src="{% static 'TimeBoards/photos/default_profile_picture.png' %}" alt="{{ person.username }}" class="profile-pic rounded-circle">
        {% endif %}
        <a href="{% url 'person_times' person.id %}" class="ms-3">{{ person.username }}</a>
    </li>
    {% endfor %}
</ul>

<h2 class="mt-5">Recent Achievements</h2>
<ul class="list-group">
    {% for achievement in recent_achievements %}
    <li class="list-group-item">
        <strong>{{ achievement.user.username }}</strong> - {{ achievement.achievement.name }}
    </li>
    {% endfor %}
</ul>

<h2 class="mt-5">Recent Sessions</h2>
<ul class="list-group">
    {% for session in recent_sessions %}
    <li class="list-group-item">
        <strong>{{ session.user.username }}</strong> - {{ session.game.name }} ({{ session.end_time|date:"Y-m-d H:i:s" }})
    </li>
    {% endfor %}
</ul>

<div class="modal fade" id="addPersonModal" tabindex="-1" role="dialog" aria-labelledby="addPersonModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPersonModalLabel">Add Person</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'people' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Add Person</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
